# This file managed by Puppet
global
  chroot  /var/lib/haproxy
  daemon  
  group  haproxy
  log  10.0.2.15 local0
  maxconn  4000
  pidfile  /var/run/haproxy.pid
  stats  socket /var/lib/haproxy/stats
  user  haproxy

defaults
  log  global
  maxconn  8000
  option  redispatch
  retries  3
  stats  enable
  timeout  http-request 10s
  timeout  queue 1m
  timeout  connect 10s
  timeout  client 1m
  timeout  server 1m
  timeout  check 10s

listen rabbit00 :5672
  mode tcp
  balance roundrobin
  server rabbit1.local 10.0.0.10:5672 check inter 5000 rise 2 fall 3
  server rabbit2.local 10.0.0.11:5672 check inter 5000 rise 2 fall 3
